nav {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRDOmpV1FR_CvzqJ4jh6LVXP9G8LsRTMxugCtdbZGYe5sc1909W"); height: 20px; width: 1220px;
  margin-left: 40px;
}
a {
  color: #58FAF4;
}
.aside {
  display: inline-block;
  background-image: url("https://i.pinimg.com/originals/55/4e/3a/554e3ab1bb4a58ed1894d0d75f18ffba.jpg"); height: 530px; width: 280px;
  margin-left: 40px;
}
main {
  display: inline-block;
  margin-top: 0px;
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/organic-green-abstract-watercolor-wash-irina-sztukowski.jpg"); height: 530px; width: 940px;
  background-size: cover;
}

section {
  background-image: url("https://previews.123rf.com/images/aga7ta/aga7ta1811/aga7ta181100054/111370593-green-color-artistic-background-texture-made-with-watercolor-and-crayon-on-paper.jpg"); height:210px; width: 890px;
  background-size: cover;
  margin-top: 20px;
  margin-left: 10px;
}
article {
  background-image: url("https://c1.wallpaperflare.com/preview/634/494/424/blue-overseas-sea-depth.jpg"); height: 210px; width: 630px;
  background-size: cover;
  margin-left: 200px;
  margin-top: 50px;
}
footer {
  background-image: url("https://i.pinimg.com/originals/bd/4a/bc/bd4abc4d109f49788aa816aa702f3bb7.jpg"); height: 70px; width: 1210px;
  background-size: cover;
  margin-left: 40px;
  padding-right: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cronicas {
  margin-left: 200px;
  color : #0B6138;
  align: center;
  font-size: 25px;
  font-family:'Gabriola'
}
.video {
  margin-left: 50px;
  width: 200px;
  color : #170B3B;
  font-size: 30px;
  font-family:'Gabriola'
}
.youtube {
  height: 300px;
  width: 210px;
  margin-left: 50px;
}
.Libro1 {
  color: #4B088A;
  font-size: 20px;
  font-family:'Gabriola';
}
.Libro2 {
  color: #0174DF;
  font-size: 20px;
  font-family:'Gabriola';
}
.Libro3 {
  color: #0B614B;
  font-size: 20px;
  font-family:'Gabriola';
}
.Libro4 {
  color: #8A4B08;
  font-size: 20px;
  font-family:'Gabriola';
}
.Libro5 {
  color: #0B4C5F;
  font-size: 20px;
  font-family:'Gabriola';
}
.Libro6 {
  color: #29088A;
  font-size: 20px;
  font-family:'Gabriola';
}
.titulo {
  color: #81F79F;
  font-size: 27px;
  font-family:'Gabriola';
  margin-left: 500px;
}
.nav {
padding-bottom: 10px;
}
.juego {
  color: #81F79F;
  font-size: 15px;
  font-family:'Gabriola';
  align-content: center;
}
.info {
  color: #81F79F;
  font-size: 12px;
  font-family:'Gabriola';
  align-content: center;
}
.juego > h1 {
  margin-top: 0px
}
.cuervo {
  margin-left: 3px;
}
.here {
  margin-top: 150px;
}
.deljuego {
  margin-left: 20px;
  margin-top: 0px;
  height: 160px;
  width: 180px;
}
.deinfo {
  height: 180px;
  width: 155px;
  margin-left:
}
.delcuervo {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 4px;
  height: 200px;
  width: 900px;
  display: flex;
}
.seven {
  margin-left: 28px;
}
.petition {
  margin-left: 10px;
  color: #170B3B;
  font-size: 32px;
  font-family:'Gabriola';
}
.wolfbrother {
margin-top: 10px;
}
.contenedor {
  display: flex;
}
/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-image: url("https://1.bp.blogspot.com/-YLFKCQ5jUQ8/VXj48GcQVsI/AAAAAAAAGtw/4h8v9akUsT8/s1600/bosque%2B1.jpg"); /* Black w/ opacity */
 background-size: cover;
}
/* Modal Content/Box */
.modal-content {
 background-image: url("https://image.freepik.com/free-photo/green-paper-texture-background_55716-850.jpg");
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #5F4C0B;
 width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}
.bmodal {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcToCtkV4LKTenM4bIGBwk0-09npoa-RcHMNGA&usqp=CAU");
  margin-left: 25px;
  border: 0px;
}


/* The Modal (background) */
.modal2 {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-image: url("https://i.pinimg.com/originals/e3/6f/89/e36f896466a44e5b291da433cfaba649.png"); /* Black w/ opacity */
 background-size: cover;
}
/* Modal Content/Box */
.modal-content2 {
 background-image: url("https://image.freepik.com/free-photo/texture-crumpled-light-blue-wrapping-paper-closeup-turquoise-old-background_113767-2415.jpg");
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #5F4C0B;
 width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}
.bmodal {
  background-color: transparent;
  margin-left: 25px;
  border: 0px;
}


/* The Modal (background) */
.modal3 {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-image: url("https://s2.thingpic.com/images/2t/49rH1fgtA6NMJ9TNjPk5BfVw.jpeg"); /* Black w/ opacity */
 background-size: cover;
}
/* Modal Content/Box */
.modal-content3 {
 background-image: url("https://media.istockphoto.com/photos/crumpled-light-blue-paper-texture-picture-id890616876");
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #5F4C0B;
 width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}
.bmodal {
  background-color: transparent;
  margin-left: 5px;
  border: 0px;
}


/* The Modal (background) */
.modal4 {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-image: url("https://i.pinimg.com/originals/02/95/28/02952836fce10e314c4e2b0f67645706.jpg"); /* Black w/ opacity */
 background-size: cover;
}
/* Modal Content/Box */
.modal-content4 {
 background-image: url("https://st2.depositphotos.com/2850099/6266/i/950/depositphotos_62665247-stock-photo-old-green-paper-texture-or.jpg");
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #5F4C0B;
 width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}
.bmodal {
background-color: #0B6138;
 color: #A9F5A9;
 font-size:15px;
 font-family: Gabriola;
 border-radius: 5px;
 border-color: #0B6138;
 margin-left: 25px;
}


/* The Modal (background) */
.modal5 {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-image: url("https://4yourdesktop.files.wordpress.com/2016/08/x7w3dbq.jpg"); /* Black w/ opacity */
 background-size: cover;
}
/* Modal Content/Box */
.modal-content5 {
 background-image: url("https://image.freepik.com/free-photo/green-handmade-paper-texture-background_1373-165.jpg");
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #5F4C0B;
 width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}
.bmodal {
background-color: #0B6138;
 color: #A9F5A9;
 font-size:15px;
 font-family: Gabriola;
 border-radius: 5px;
 border-color: #0B6138;
 margin-left: 25px;
}


/* The Modal (background) */
.modal6 {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-image: url("https://culturafotografica.es/wp-content/uploads/2016/04/24641937989_5fce3713f1_h_Web.jpg"); /* Black w/ opacity */
 background-size: cover;
}
/* Modal Content/Box */
.modal-content6 {
 background-image: url("https://cdn.pixabay.com/photo/2016/12/02/14/17/background-1877865_960_720.jpg");
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #5F4C0B;
 width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}
.bmodal {
background-color: #0B6138;
 color: #A9F5A9;
 font-size:15px;
 font-family: Gabriola;
 border-radius: 5px;
 border-color: #0B6138;
 margin-left: 25px;
}



/* The Modal (background) */
.modal7 {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-image: url("https://365psd.com/images/previews/620/dream-sea-water-background-29427.jpg"); /* Black w/ opacity */
 background-size: cover;
}
/* Modal Content/Box */
.modal-content7 {
 background-image: url("https://images.unsplash.com/photo-1528460033278-a6ba57020470?ixlib=rb-1.2.1&w=1000&q=80");
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #5F4C0B;
 width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}
.bmodal {
background-color: #0B6138;
 color: #A9F5A9;
 font-size:15px;
 font-family: Gabriola;
 border-radius: 5px;
 border-color: #0B6138;
 margin-left: 25px;
}
