nav {
  background-color: #0B3B17; height: 25px; width: 1254px;
}
a {
  color: #58FAF4;
}
aside {
  display: inline-block;
  background-image: url(""); height: 560px; width: 300px;
}
main {
  display: inline-block;
  background-image: url("https://images.pexels.com/photos/2078266/pexels-photo-2078266.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); height: 560px; width: 950px;
}

section {
  background-color: #66EA91; height:210px; width: 930px;
  margin-top: 20px;
  margin-left: 10px;
}
article {
  background-color: #F781F3; height: 210px; width: 600px;
  margin-left: 100px;
  margin-top: 70px;
}
footer {
  background-color: #380B61; height: 25px; width: 1254px;
}
.cronicas {
  margin-left: 300px;
  color : #0B3B2E;
  align: center;
  font-size: 40px;
  font-family:'Chiller'
}
.video {
  margin-left: 100px;
  width: 200px;
  color : #2EFE2E;
  font-size: 30px;
  font-family:'Footlight MT'
}
.youtube {
  height: 100px;
  width: 150px;
  margin-left: 90px;
}
.Libro1 {
  color: #4B088A;
  font-size: 20px;
  font-family:''
}
